#header{
    position: fixed;
    top: 0px;
    left: 0px;
    
    display: flex;
    
    background: rgb(100, 0, 255);
    width: 100%;
    height: 50px;
    
  }
  #menuimg{
    background: url('https://img.icons8.com/carbon-copy/2x/menu.png');
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .about{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 40px;
    margin: 5px;
    border-radius: 30px;
    background: aqua;
    
    cursor: pointer;
    
  }
  #abouttxt{
    margin: 15px;
    color: black;
    font-size: 18px;
  }
  #supporttxt{
    margin: 20px;
    color: black;
    font-size: 18px;
  }
  #contacttxt{
    margin: 13px;
    color: black;
    font-size: 16px;
  }
  
  .support{
    width: 100px;
    height: 40px;
    margin: 5px;
    border-radius: 30px;
    background: aqua;
    
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
  }
  
  .contact{
    width: 100px;
    height: 40px;
    margin: 5px;
    border-radius: 30px;
    background: aqua;
    
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  #midcontent{
    
    margin: 0px;
    width: 100%;
    background: lime;
    padding: 10px;
    position: relative;
    left: -10px;
  }
  a:link{
    text-decoration: none;
  }
  #topcontent{
    position: relative;
    left: -10px;
    margin: 0px;
    width: 100%;
    background: yellow;
    padding: 10px;
    margin: 0px;
  }
  #miertjo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
  }
  #placeholder{
    margin: 0px;
    height: 27px;
    width: 100%;
  }
  #footercontent{
    background: grey;
    color: white;
    text-align: center;
    margin-left: 10px;
    position: relative;
    left: -10px;
  }
  #midcon2{
    width: 100%;
    background: rgb(255, 100, 0);
    padding: 10px;
    position: relative;
    left: -10px;
  }
  *{
    font-size: 30px;
    
  }
  
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 40px;
  }
  
  #active{
    background: rgb(200, 100, 255);
  }